.netrwhist
**/*.pyo
**/*.pyc
**/*.pyd
common/.config/copyq/copyq_geometry.ini
common/.config/copyq/*.dat
common/.config/copyq/copyq-commands.ini
common/.config/copyq/copyq-commands.ini.bak
common/.config/copyq/copyq-commands.ini.new.bak
mackup/Mackup/.chunkwm_plugins
mackup/Mackup/.config/karabiner/automatic_backups
mackup/Mackup/Library/Preferences/IntelliJIdea2019.1
mackup/Mackup/Library/Application Support/IdeaIC2019.1/
mackup/Mackup/Library/Application Support/IntelliJIdea2019.1/
mackup/Mackup/Library/Preferences/IdeaIC2019.1/
**/ranger/bookmarks
**/ranger/history
**/ranger/tagged

mack/brew/.tar.gz
mack/brew/Downloading
mack/brew/Installing
mack/brew/Pouriave.bo==
mack/brew/Pouring

common/.config/karabiner
mack/Mackup/.config/karabiner/automatic_backups/
