[Unit]
Description=xkeysnail

[Service]
KillMode=process
ExecStart=/usr/bin/xkeysnail /root/.config/xkeysnail/config.py
# xkeysnailはwindow名で分岐する機能でxorgにアクセスします
ExecStartPre=/usr/bin/xhost +SI:localuser:root
Type=simple
Restart=always

# Update DISPLAY to be the same as `echo $DISPLAY` on your graphical terminal.
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
